﻿@model IEnumerable<TaskManager.Entities.Project>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_CreateButtonPartial")
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Title)
		</td>
		<td>
			<a href="@Url.Action("Edit", new { id=item.Id }) " class="btn btn-warning btn-sm">
				Edit
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</a>
			<a href="@Url.Action("Details", new { id=item.Id }) " class="btn btn-primary btn-sm">
				Details
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</a>
			<a href="@Url.Action("Delete", new { id=item.Id }) " class="btn btn-danger btn-sm">
				Delete
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</a>
		</td>
	</tr>
	}

</table>
