﻿@model IEnumerable<TaskManager.Entities.Issue>

<a href="@Url.Action("Edit", new { id=item.id }) " class="btn btn-warning">
    link text
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>
<a href="@Url.Action("Details", new { id=item.id }) " class="btn btn-warning">
    link text
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>
<a href="@Url.Action("Delete", new { id=item.id }) " class="btn btn-warning">
    link text
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>