﻿@model TaskManager.Entities.Issue

<div class="textwrapper">
    @*<textarea readonly class="form-control" rows="10" cols="120" id="issue">@Html.DisplayFor(model => model.Description)</textarea>*@
    @Html.DisplayFor(model => model.Description)
</div>