﻿@if (Request.IsAuthenticated)
{
	if (User.IsInRole("Admin"))
	{
		<li class="dropdown" data-manager-menu>
			<a href="#">
				Tools
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>

			<ul class="dropdown-menu" role="menu">
				<li><a href="/Project">&nbsp;&nbsp;Projects</a></li>
				<li><a href="/Priority">&nbsp;&nbsp;Priority</a></li>
				<li><a href="/Status">&nbsp;&nbsp;Status</a></li>
				<li><a href="/issue">&nbsp;&nbsp;Tasks</a></li>
			</ul>
		</li>
	}

	<li class="btn">
		<form action="/issue/Create">
			<input type="submit" id="CreateIssueMenu" value="Create" class="btn btn-success btm-sm" />
		</form>
	</li>
}