﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task Manager</h1>
	<p class="lead">Task Manager is a tool for managing and creating tasks.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First Step</h2>
		<p>
			Register your account to start creating tasks
		</p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
		<h2>Notifications</h2>
		<p>After adding task you get a notifications on email</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free Hosting</h2>
        <p>No Cost for using Task Manager</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>