﻿@model TaskManager.Entities.Priority

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Priority</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<p>
	<a href="@Url.Action("Edit", new { id=Model.Id }) " class="btn btn-warning btn-sm">
		Edit
		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	</a>
	@Html.Partial("_BackToListButtonPartial")
</p>
