﻿@model TaskManager.Entities.Issue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PriorityID)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PriorityID)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StatusID)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StatusID)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UserID)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UserID)
		</dd>
		<br />
		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.Partial("_DetailPartial")
		</dd>
	</dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id=Model.Id }) " class="btn btn-warning btn-sm">
        Edit
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
    @Html.Partial("_BackToListButtonPartial")
</p>
