﻿@model TaskManager.Entities.Issue
@using TaskManager.Extensions
@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>Issue</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)

	<div class="form-group">
		@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Priorites, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(
																						   model => model.PriorityID,
																						   Model.Priorites.ToSelectListItem(Model.PriorityID),
																						   new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.PriorityID, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Statuses, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(
																						   model => model.StatusID,
																						   Model.Statuses.ToSelectListItem(Model.StatusID),
																						   new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(
																						   model => model.UserID,
																						   Model.Users.ToSelectListUser(Model.UserID),
																						   new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" id="SaveIssue" value="Save" class="btn btn-success" />
		</div>
	</div>
</div>
}

<div>
	@Html.Partial("_BackToListButtonPartial")
</div>
