﻿@model IEnumerable<TaskManager.Entities.Issue>
@using TaskManager.Extensions
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
	<a href="@Url.Action("Create") " id="Create" class="btn btn-success btn-sm">
		Create
		<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
	</a>
</p>

@using (Html.BeginForm())
{
<p>
	<br />
	<input type="text" size="17" name="SearchTitle" placeholder="Title"> 
	<input type="text" size="17" name="SearchPriority" placeholder="Priority">
	<input type="text" size="17" name="SearchStatus" placeholder="Status">
	<input type="text" size="17" name="SearchDeveloper" placeholder="Developer">
	@*@Html.TextBox("SearchTitle")
		@Html.TextBox("SearchPriority")
		@Html.TextBox("SearchStatus")
		@Html.TextBox("SearchDeveloper")*@
	<input id="Search" value="Search" class="btn btn-danger btn-sm" type="submit">
</p>
}

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Priorites)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Statuses)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Users)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PriorityID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StatusID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UserID)
			</td>
			<td>
				<a href="@Url.Action("Edit", new { id=item.Id }) " class="btn btn-warning btn-sm">
					Edit
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a>
				<a href="@Url.Action("Details", new { id=item.Id }) " class="btn btn-primary btn-sm">
					Details
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
				</a>
				<a href="@Url.Action("Delete", new { id=item.Id }) " class="btn btn-danger btn-sm">
					Delete
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a>
			</td>
		</tr>
	}

</table>
